h1{
	color: white;
	text-indent: 10%;
}

body{
	background-color: black;
}

p{
	font-size: 12px;
}

li{
	color: black;
	font-size: 16px;
}

a{
	color: #CC0000;
}

.row{
	padding: 1%
}
.container{
	padding: 5%
	width: 80%;
	background: url(/images/mit_crew.jpg) scroll;
/*	background-size: auto;*/
	  background-size:cover;
  background-position:center center;
  background-attachment:fixed;

}
.cheer-pod{
	background-color: white;
	opacity: 0.85;
	height: 200px;
	padding: 3%;
}
textarea{
	width: 100%;
	height: 100px;
	background-color: black;
	color: white;
	border: solid;
	border: black;
}

img{
	margin: 5%;
	border: solid;
	border-width: 2%;
	border-color: black;
}

.name-pod{
	background-color: white;
	border: solid;

	border-color: orange;
	border-width: 1px;
	border-left: none;
}

